<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.odin.dao.IndexMapper" >
    <resultMap id="baseResultMap" type="com.odin.entity.People">
        <result column="name" property="name" jdbcType="VARCHAR"></result>
        <result column="sex" property="sex" jdbcType="VARCHAR"></result>
        <result column="age" property="age" jdbcType="INTEGER"></result>
    </resultMap>
    <select id="getPeople" resultMap="baseResultMap">
        select name,sex,age
        from people
    </select>
</mapper>